/* General Settings */

.body_mod {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #031B4E;
}

.btn.btn_white {
  color: #006AFF;
  background-color: white;
  border: 1px solid #006AFF;
  font-weight: 500;
}
.btn.btn_white:hover {
  color: white;
  background-color: #006AFF;
}

.txt_white {
  color: white;
}
.txt_blue {
  color: #0169FF;
  width: 500;
}
.txt_grey {
  color: #5B6A86;
}
.txt_lightgrey {
  color: lightgrey;
}

.v_padding {
  padding: 55px 0;
}
.v_paddingmin {
  padding: 30px 0;
}

h2{
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  margin-top: 20px;
}
h5 {
  color: #5B6A86;
}
p {
  font-size: 19px;
}
.p_description {
  font-size: 14px;
}
/* /General Settings */

/* navbar settings */
#nav_bar {
  height: 70px;
  background-color: white;
  width: 100%;
}

#nav_bar > .container {
  height: 100%;
}

.vertical_align {
  display: inline-block;
  line-height: 70px;
}
.vertical_align ul li{
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.vertical_align ul li a {
  text-decoration: none;
  color: #031B4E;
  font-weight: 500;
}
.vertical_align ul li a:hover {
  color: #006AFF;
}

.vertical_align .fa-chevron-down {
  margin-left: 3px;
}

.nav_center ul li {
  margin-right: 20px;
}
.nav_right ul li {
  margin-left: 20px;
}

#nav_img_cnt > img {
  height: 25px;
  margin-right: 70px;
}

.hamb_icon {
  font-size: 21px;
}
.hamb_icon:hover {
  color: #5B6987;
}
/* /navbar settings */

/* jumbotron */
#jumbotron {
  width: 100%;
  background-image: url("../img/jumbotron.svg");
  background-position: center;
}

#jumbotron_form {
  padding: 15px;
  background-color: white;
  border-radius: 6px;
}

#jumbotron_form .txt_blue {
  margin-top: 10px;
}

#jumbotron_form form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 0;
}

.btn_formblue {
  color: white;
  background-color: #0169FF;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn_formblue:hover {
  color: white;
  background-color: #1633FF;
}

.btn_formwhite {
  position: relative;
  margin-bottom: 10px;
  font-weight: 500;
  color: #5B6A86;
  background-color: white;
}
.btn_formwhite > img {
  position: absolute;
  width: 18px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#jumbotron_form > p {
  font-size: 13px;
}
/* /jumbotron */

/* customers */
#customers {
  background-color: #F2F5F9;
}

#customers_logo .row img {
  height: 100%;
}

#customers .txt_blue {
  font-size: 16px;
}
#customers .txt_blue:hover {
  text-decoration: none;
  color: #1633FF
}
/* /customers */

/* deployment */
.deployment_illustration ul{
  list-style-type: none;
  padding-bottom: 20px;
  padding-left: 0px;
}

.deployment_illustration ul li {
  padding: 8px 0 8px 8px;
  border-left: 2px solid #E5E8EC;
  font-size: 18px;
}
.deployment_illustration ul li:hover {
  border-color: #0569FF;
}

.deployment_illustration ul li a {
  color: #687795;
}
.deployment_illustration ul li a:hover {
  text-decoration: none;
  color: #031C4E;
}

/* /deployment */

/* design */
#design {
  background-color: #F2F5F9;
}

.design_text p {
  padding-top: 10px;
}

.design_illustration img {
  width: 55%;
  margin-top: 20px;
}

.design_illustration .fas {
  padding: 0 15px;
  font-size: 35px;
  color: #7B89A4;
}
.design_illustration .fas:hover {
  cursor: pointer;
  color: #031C4E;
}

.design_description .p_description {
  font-weight: 500;
  margin-bottom: 5px;
}

.design_page .fa-circle {
  font-size: 11px;
  color: #0169FF;
}
.design_page .fa-circle:hover {
  cursor: pointer;
}
/* /design */

/* features */
#features h2 {
  padding-bottom: 25px;
}
/* /features */

/* service */
#service {
  background-color: #031C4E;
  background-image: url("../img/service-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#service h2 {
  padding-bottom: 15px;
}



#service span,
#service p,
#service a
{
  font-size: 14px;
}

#service p {
  color: #8B96AE;
}

#service a {
  color: rgb(0, 215, 210);
  font-weight: 300;
  font-size: 13px;
}
#service a::after {
  margin-left: 8px;
  content: '>';
  font-size: 13px;
  color: rgb(0, 215, 210);
}
#service a:hover{
  text-decoration: none;
  color: #1633FF;
}
#service a:hover::after{
  text-decoration: none;
  color: #1633FF;
}

#service .border_mod:not(:first-child) {
  padding-top: 10px;
}

#service .border_mod:not(:last-child) {
  border-bottom: 1px solid white;
}
/* /service */

/* developer teams */
#devteams {
  background-color: #F2F5F9;
}

#devteams .read_story {
  display: inline-block;
  width: 50%;
  background-color: white;
}

#devteams .read_story img {
  width: 250px;
  padding-bottom: 20px;
}

.dev_cofounder .p_dev {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

/* /developer teams */

/* small and xs devices */
@media only screen and (max-width: 991px) {
  .deployment_illustration div {
    padding: 0 5px;
  }

  .design_illustration img {
    width: 75%;
  }

  #features .row > div {
    padding-bottom: 25px;
  }

    #service span,
    #service p {
      font-size: 13px;
    }
    #service a {
      font-size: 12px;
    }
}
/* /small and xs devices */

/* xs small and medium devices */
@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 20px;
  }

  .deployment_illustration ul li {
    font-size: 21px;
  }

  .deployment_illustration p {
    font-size: 15px;
  }

  #service .row {
    margin: 0 10px;
  }
  #service .row_right {
    padding-top: 35px;
  }

}
/* /xs small and medium devices */

/* medium and xl devices */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 54px;
  }

  .r_padding {
    padding-right: 40px;
  }

  h5 {
    font-size: 16px;
  }

  /* deployment section padding */
  .deployment_illustration {
    padding: 55px 70px 0 70px;
  }

  .deploy_description > div > div {
    margin-bottom: 30px;
  }
}
/* /medium and xl devices */

/* xl devices */
@media only screen and (min-width: 1201px) {
  #customers > .container {
    padding: 0 80px;
  }

  #service .row_left .row {
    margin-right: 15px;
  }
}
/* /xl devices */
